<div class="container">
    <!-- <div class="row">
        <div class="col-lg-5 col-md-12">
            <div class="brand-div d-flex align-items-center mt-2 pt-1">
                <mat-icon class="dark-blue">blur_on</mat-icon>
                <h2 class="brand-title bold ms-2">Socio</h2>
            </div>
        </div>
    </div> -->
    <div class="row form-row">
        <div class="col-lg-5 col-md-12">
            <h1 class="bold heading">Log in to your account</h1>
            <p class="subtitle">Log in and make friends!</p>

            <app-login-form></app-login-form>
        </div>
        <div class="col-lg-7 col-md-12">
            <img class="home-image" src="../../assets/friends.jpg" alt="">
        </div>
    </div>
</div>